{% extends "admin/adminbase.html" %}

{% block title %}Dashboard{% endblock title %}

{% block head %}
    <link href="/static/css/sb-admin.css" rel="stylesheet" media="screen">
{% endblock head %}

{% block content %}
    <div id="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Overview</li>
        </ol>

        <!-- Icon Cards-->
        <div class="row">
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-primary o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                <i class="fas fa-fw fa-comments"></i>
                </div>
                <div class="mr-5">{{ messages_count | default(value=0) }} Guest Messages!</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="/admin/all_guests_messages/">
                <span class="float-left">View Details</span>
                <span class="float-right">
                <i class="fas fa-angle-right"></i>
                </span>
            </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-warning o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                <i class="fas fa-fw fa-list"></i>
                </div>
                <div class="mr-5">{{ comments_count | default(value=0) }} New Comments!</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="/admin/today_comments/">
                <span class="float-left">View Details</span>
                <span class="float-right">
                <i class="fas fa-angle-right"></i>
                </span>
            </a>
            </div>
        </div>
        </div>
    </div>
    </div>
{% endblock content %}
