{% extends "admin/admin_base.html" %}

{% block title %}Guest Messages{% endblock title %}

{% block head %}
<style>
.main ul {
  list-style-type: none;
  margin: auto;
  width: 60%;
}

ul li {
  border-bottom: solid;
  border-bottom-width: 1px;
  border-bottom-color: #e67e22;
  margin-top: 20px;
  text-align: left;
}
</style>
{% endblock head %}

{% block content %}
<header>
    <nav>
        <a href="/admin/dashboard/">DashBoard</a>
        <a href="/admin/all_posts/">All Posts</a>
        <a href="/admin/write_post/">Wrire Post</a>
        <a href="/admin/about_self/">About</a>
    </nav>
    <input type="search" placeholder="keyword">
    <a href="/admin/about_self/" class="user">{{ username }}</a>
    <a href="/admin/logout/" class="logout">Logout</a>
</header>
<div class="main">
    {% if contacts %}
    {% for contact in contacts %}
    <ul>
        <li>Message from {{ contact.tourist_name }}</li>
        <li>{{ contact.message }}</li>
        <li>sent on {{ contact.committed_time | date(format="%Y-%m-%d") }}</li>
    </ul>
    {% endfor %}
    {% endif %}
</div>
{% endblock content %}