{% extends "base.html" %}

{% block title %}Login{% endblock title %}

{% block head %}
    <link href="/static/css/sb-admin.css" rel="stylesheet" media="screen">
    <script>
        $(document).ready(function(e) {
            $("#mainNav").hide();
            
            $("#inputPassword").keyup(function(event) {
                if (event.keyCode === 13) {
                    $("#sendMessageButton").click();
                }
            });

            $('#inputEmail').on('blur', function(){
                $("#wrong_user_prompt").hide();
                if ($('#inputEmail').val() != '') {
                    $.ajax({
                    type: "POST",
                    url: "/admin/user_exist/",
                    contentType: "application/json; charset=utf-8;",
                    data: JSON.stringify({'username': $('#inputEmail').val()}), // must use stringify to serialize json data
                    timeout: 10000,
                    success: function(data) {
                        if (data) {
                            $("#wrong_user_prompt").show();
                        }
                        }
                    })
                }
            });
        })
    </script>
{% endblock head %}

{% block content %}
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Login</div>
            <div class="card-body">
            <form action="/admin/login/" method="POST">
                <div class="form-group">
                <div class="form-label-group">
                    <input type="text" id="inputEmail" class="form-control" placeholder="Email or Username" required="required" autofocus="autofocus" name="username">
                    <p style="display:none;" id="wrong_user_prompt">This user doesn't exist, input again.</p>
                </div>
                </div>
                <div class="form-group">
                <div class="form-label-group">
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="required" name="password">
                    <p style="display:none;" id="wrong_pwd_prompt">Wrong password, input again.</p>
                </div>
                </div>
                
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" id="sendMessageButton">Login</button>
                </div>
            </form>
            <div class="text-center">
                <a class="d-block small mt-3" href="/admin/register/">Register an Account</a>
            </div>
            </div>
        </div>
    </div>
{% endblock content %}
