{% extends "admin/adminbase.html" %}

{% block title %}Modify Post{% endblock title %}

{% block head %}
    <link href="/static/css/sb-admin.css" rel="stylesheet" media="screen">
    <style>
        .row {
            display: flex;
        }

        #editor {
            flex: 1;
            padding: 1em;
            border: 1px solid #eee;
        }

        #preview {
            overflow-y: scroll;
            flex: 1;
            padding: 1em;
            border: 1px solid #eee;
        }
    </style>
    <script>
        $(document).ready(function(e) {
            showdown.setFlavor('github');
            var _body = $("#editor").text(),
                _title= '{{ title }}',
                _slug = '{{ slug }}',
                _status = '{{ status }}';
            
            document.getElementById('editor').value = _body;
            document.getElementById('title').value = _title;
            document.getElementById('slug').value = _slug;
            document.getElementById('status').value = _status;
            // $("#slug").val() = _slug;

            var target = document.getElementById('preview');
            var converter = new showdown.Converter();
            var html = converter.makeHtml(_body);
            // Cookies.set('markdown', _body);
            // Cookies.set('preview', html);
            target.innerHTML = html;

            $("#editor").bind('change keyup', function(event) {
                var text = document.getElementById('editor').value,
                    target = document.getElementById('preview'),
                    converter = new showdown.Converter(),
                    html = converter.makeHtml(text);
                Cookies.set('markdown', text);
                Cookies.set('preview', html);
                target.innerHTML = html;
            });
        })
    </script>
{% endblock head %}

{% block content %}
    <div id="content-wrapper">
        <form action="/admin/{{ title }}/" method="POST">
            <div style="position: static; left: 700px; margin: 0 auto">
                <input type="text" name="title" id="title">
                <input type="text" name="slug" id="slug">
                <input type="text" name="status" id="status">
                <button type="submit" class="btn btn-primary" id="sendMessageButton">Saving</button>
            </div>
            <br>
            <br>
            <br>
            <div class="row">
                <div class="col-xl-6 col-sm-6 mb-6">
                    <textarea class="form-control rounded-0" id="editor" rows="30" name="body">{{ body }}</textarea>
                </div>
                <div class="col-xl-6 col-sm-6 mb-6" id="preview">
                </div>
            </div>
        </form>
    </div>
{% endblock content %}
