{% extends "base.html" %}

{% block title %}Login{% endblock title %}

{% block head %}
    <link href="/static/css/sb-admin.css" rel="stylesheet" media="screen">
    <script>
        $("#sendMessageButton").click(function(event, data){
                $.ajax({
                    type: "POST",
                    url: "/admin/reset_password/",
                    contentType: "application/json; charset=utf-8;",
                    // data: JSON.stringify({'likes_count': n}), // must use stringify to serialize json data
                    timeout: 10000,
                    success: function(data) {
                        console.log(data);
                    }
                })
            });
    </script>
{% endblock head %}

{% block content %}
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Change Password</div>
            <div class="card-body">
            <form action="/admin/reset_password/" method="POST">
                <div class="form-group">
                <div class="form-label-group">
                    <input type="password" id="inputPassword" class="form-control" placeholder="Old Password" required="required" name="old_password">
                    <label for="inputPassword">Old Password</label>
                </div>
                </div>

                <div class="form-group">
                <div class="form-label-group">
                    <input type="password" id="inputPassword" class="form-control" placeholder="New Password" required="required" name="new_password">
                    <label for="inputPassword">New Password</label>
                </div>
                </div>
                
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" id="sendMessageButton">Reset</button>
                </div>
            </form>
            </div>
        </div>
    </div>
{% endblock content %}
