{% extends "admin/admin_base.html" %}

{% block title %}Reset Password{% endblock title %}

{% block head %}
<link href="/static/css/admin/login.css" rel="stylesheet" media="screen"/>
<style>
.main {
  width: 40%;
  margin: 50px auto 50px auto;
  background-color: #e67e22;
  border-radius: 10px;
}

#reset_password {
  margin: 0;
  display: grid;
  align-items: center;
}

#reset_password label:first-child {
  height: 80px;
  align-content: center;
  margin: auto;
  margin-top: 20px;
  font-size: 25pt;
  color: white;
}

label#old_pwd, label#new_pwd {
  color: white;
}

#old_pwd, #new_pwd {
  font-size: 15pt;
  width: 40%;
  justify-self: center;
}

input[type="password"] {
  border-radius: 5px;
  outline: none;
  height: 40px;
  border: none;
  color: black;
}

input[type="submit"] {
  width: 20%;
  justify-self: center;
  height: 40px;
  border-radius: 5px;
  background-color: #d35400;
  color: white;
  margin-top: 40px;
  font-size: 15pt;
  margin-bottom: 60px;
}
</style>
{% endblock head %}

{% block content %}
<div class="main">
    <form action="/admin/reset_password/" method="POST" id="reset_password">
        <label>Reset Password</label>
        <label id="name" class="old_pwd">Old Password: </label>
        <input type="password" id="name" class="old_pwd" required=true placeholder="old password" name="old_password">
        <label id="password" class="new_pwd">New Password: </label>
        <input type="password" id="password" required=true placeholder="new password" class="new_pwd" name="new_password">
        <input type="submit" value="Reset">
    </form>
</div>
{% endblock content %}