{% extends "admin/adminbase.html" %}

{% block title %}Write Post{% endblock title %}

{% block head %}
    <link href="/static/css/sb-admin.css" rel="stylesheet" media="screen">
    <style>
        .row {
            display: flex;
        }

        #editor {
            flex: 1;
            padding: 1em;
            border: 1px solid #eee;
        }

        #preview {
            overflow-y: scroll;
            flex: 1;
            padding: 1em;
            border: 1px solid #eee;
        }
    </style>
    <script>
        $(document).ready(function(e) {
            if (Cookies.get('markdown') && Cookies.get('markdown')) {
                var prev_html = document.getElementById('preview');
                var editor_md = document.getElementById('editor');
                prev_html.innerHTML = Cookies.get('preview');
                editor_md.value = Cookies.get('markdown');
            }

            $("#editor").bind('change keyup', function(event) {
                var text = document.getElementById('editor').value,
                    target = document.getElementById('preview'),
                    converter = new showdown.Converter(),
                    html = converter.makeHtml(text);
                Cookies.set('markdown', text);
                Cookies.set('preview', html);
                target.innerHTML = html;
            });
            // $("#mainNav").hide();
        })
    </script>
{% endblock head %}

{% block content %}
    <div id="content-wrapper">
        <form action="/admin/write_post/" method="POST">
            <div style="position: fixed; left: 700px; margin: 0 auto">
                <input type="text" name="title">
                <input type="text" name="slug">
                <input type="text" name="status">
                <!-- <select class="selectpicker show-tick form-control" data-live-search="true">
                    <option>Publish</option>
                    <option>Draft</option>
                </select> -->
                <!-- <button type="button" class="btn btn-primary">SAVE</button> -->
                <button type="submit" class="btn btn-primary" id="sendMessageButton">Save</button>
            </div>
            <br>
            <br>
            <br>
            <div class="row">
                <div class="col-xl-6 col-sm-6 mb-6">
                    <textarea class="form-control rounded-0" id="editor" rows="30" name="body"></textarea>
                </div>
                <div class="col-xl-6 col-sm-6 mb-6" id="preview">
                </div>
            </div>
        </form>
    </div>

    <!-- demo for markdown -->
    
{% endblock content %}
