{% extends "base.html" %}

{% block title %}Write a post{% endblock title %}

{% block head %}
    <script>
    </script>
{% endblock head %}

{% block content %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/about-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                <h1>About Me</h1>
                <span class="subheading">This is what I do.</span>
                </div>
            </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p>Write some about you.</p>
            </div>
        </div>
    </div>

    <hr>
{% endblock content %}