<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock title %}</title>
    <link href="/static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen" />
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-grid.css" rel="stylesheet" media="screen">
    <link href="/static//css/clean-blog.min.css" rel="stylesheet" media="screen">
    <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.min.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> -->
    <script type="text/javascript" src="/static/vendor/jquery/jquery-3.3.1.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/vendor/bootstrap/js/bootstrap.min.js" charset="utf8"></script>
    <script type="text/javascript" src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js" charset="utf8"></script>
    <script type="text/javascript" src="/static/js/clean-blog.min.js" charset="utf8"></script>
    <script type="text/javascript" src="/static/vendor/showdown/showdown.min.js" charset="utf8"></script>
    <script type="text/javascript" src="/static/vendor/showdown/showdown.js" charset="utf8"></script>
    {% block head %}{% endblock head %}
</head>

<body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="/index/">Jamie's Blog</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/index/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about/">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/all_posts/">All Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact/">Contact</a>
                    </li>
                </ul>
            </div>
            <div>
                <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0" action="/search/" method="POST">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="key_word">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    {% block content %}{% endblock content %}

    <!-- Footer -->
    <footer class="sticky-footer" style="height: 50px;;padding-top: 2px;padding-bottom: 2px;">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
            <span>Copyright @ Jamie's Website 2018</span>
            </div>
        </div>
    </footer>
</body>
</html>