{% extends "base.html" %}

{% block title %}Jamie's Blog{% endblock title %}

{% block head %}
    <script>
    </script>
{% endblock head %}

{% block content %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p>Search Result</p>
                {% if posts %}
                    {% for post in posts | reverse %}
                    <div class="post-preview">
                        <a href="/article/{{ post.title }}/">
                        <h2 class="post-title">
                            {{ post.title }}
                        </h2>
                        <h3 class="post-subtitle" style="display:none;" id="short_body">
                            {{ post.body | truncate(length=50, end="...") }}
                        </h3>
                        </a>
                        <p class="post-meta">
                            Posted On {{ post.publish | date }}
                        </p>
                    </div>
                    {% endfor %}
                {% else %}
                <p>Nothing Found.</p>
                {% endif %}
            </div>
        </div>
    </div>
    <hr>
{% endblock content %}